<!-- CSS Includes -->
  <!-- Bootstrap core CSS -->
  <link href="/static/v3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/v3/css/animate.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="/static/v3/accounting/css/style-page.css" rel="stylesheet">
  <link href="/static/v3/css/animate.css" rel="stylesheet">
 <link href="/static/v3/css/jquery-ui.min.css" rel="stylesheet">


  <!-- CSS Includes -->