
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

    <div class="menu-profile">{{user.name }}, {{user.last_name }}</div>
    <small class="menu-header">última visita: {{user.last_sign_in_at}}</small>
    <hr>

    <ul class="nav nav-pills flex-column">
        <small class="menu-header">Account Book</small>

         <li class="nav-item">
            <a class="nav-link" href="/board/main/">Board</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/board/orders/">Orders</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/board/charges/">Charges</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/board/orders/charges/">Order Charges</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/board/users/">Users</a>
        </li>



    </ul>

    <ul class="nav nav-pills flex-column">
        <small class="menu-header">Property</small>
        <li class="nav-item">
            <a class="nav-link" href="/board/property/">Properties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/board/resident/">Residents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/board/contract/">Contracts</a>
        </li>


    </ul>

    <ul class="nav nav-pills flex-column">
        <small class="menu-header">Settings</small>
        <li class="nav-item">
            <a class="nav-link" href="/board/service/types/">Service Types</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/board/payment/property">Payment Properties</a>
        </li>


    </ul>



    <ul class="nav nav-pills flex-column">
        <small class="menu-header">Profile</small>

        <li class="nav-item">
            <a class="nav-link" href="/board/users/edit/">Modify</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/board/logout/">Logout</a>
        </li>
    </ul>
</nav>