<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png"
          href="/static/v3/media/website/logo-solo-cb7b48d8befc7c0b5d7f7bd44c8d69ffeed06130a5646ea7a09bb0b57a29b1ed.png"
          sizes="16x16">

    <title>Dashboard Renty</title>
    {% include "v3/dashboard/imports/css.html" %}
    <!-- Custom styles for this template -->

</head>

<body>
{% csrf_token %}
{% include "v3/dashboard/imports/header.html" %}

<div class="container-fluid">
    <div class="row">

        {% include "v3/dashboard/imports/menu.html" %}

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3 mt-4" role="main">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Property</li>
                <li class="breadcrumb-item active">Modify / ID:{{property_edit.id}}</li>
            </ol>
            {% if saved %}
            <div class="alert alert-success" role="alert">
                Property "{{property_edit.id}}" information was modified, correctly !
            </div>

            {% endif %}

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% for error in field.errors %}
                {{error}}<BR>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}


            <!-- Profile Edit -->

            <table width="605" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td width="605">
                        <strong>Property Information</strong>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="container">
                            <form method="post">
                                {% csrf_token %}

                                {% for field in form %}

                                <!-- Field  {{ field.label }} -->
                                <div class="form-group row">
                                    <label for="{{ field.auto_id }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                                    <div class="col-sm-10">
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>

                                {% endfor %}

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-success">Save</button>
                                        <a href="/board/property/" class="btn btn-light">Cancel</a>
                                    </div>

                                </div>


                            </form>
                        </div>

                    </td>
                </tr>


                </tbody>
            </table>


            <!-- -->

        </main>
    </div>
</div>

{% include "v3/dashboard/imports/js.html" %}


</body>
</html>
