#login_btn {
  margin-right: 10px;
  margin-left: 10px;
}


/* Hero */

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url("../media/website/hero.png") no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}


/* Sections */

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

#sms2 {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3;
  -ms-transition-animation-duration: 3s;
  -webkit-animation-delay: 2;
}

#section_1, #section_2, #section_3, #section_4 {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2;
  -ms-transition-animation-duration: 2s;
  -webkit-animation-delay: 1;
}

#client_logos {
  width: 70%;
}

.size-big {
  font-size: 84px !important;
  color: #80c537;
  margin-bottom: 40px;
}


/* Footer */

.nav a {
  color: #868e96 !important;
  cursor: pointer;
}

.nav a:hover {
  color: #333 !important;
  cursor: pointer;
}

.nav-link-reset {
  display: block;
  /* padding: 2rem 1rem; */
  padding-left: 0px !important;
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}


/* Responsive */


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  #login_btn {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  /*.card {
        margin-top: 20px;
  }*/
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {
  #login_btn {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .card {
    margin-top: 20px;
  }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  #login_btn {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}


/* country flag*/

.flag-settings {
  position: relative;
  top: -3px;
  left: -9px;
}


/* Colors */

.green {
  color: #85c939;
}

.gray {
  color: #6c757d !important;
}

.light-gray {
  color: #CCC;
}

.light-green {
  background-color: #28a745;
  color: #FFF;
}


/* code display */

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 80%;
  color: #f8f9fa;
  background-color: #464a4e;
  padding: 10px;
  border-radius: 5px;
}
