
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/v3/media/website/logo-solo-cb7b48d8befc7c0b5d7f7bd44c8d69ffeed06130a5646ea7a09bb0b57a29b1ed.png" sizes="16x16">

    <title>Dashboard Renty</title>
    {% include "v3/dashboard/imports/css.html" %}
    <!-- Custom styles for this template -->

</head>

<body>

{% include "v3/dashboard/imports/header.html" %}

<div class="container-fluid">
    <div class="row">

        {% include "v3/dashboard/imports/menu.html" %}

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3 mt-4" role="main">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item active">Service Types</li>
            </ol>


            <!-- Modems -->
            <div class="mb-3">
            <a href="/board/service/types/add/" class="btn btn-success">+ Add New</a>
            </div>

            {% if st_list %}

            <table class="table table-bordered">
                <tr>
                    <td bgcolor="#F5F5F5">#</td>
                    <td bgcolor="#F5F5F5"><strong>Name</strong></td>
                    <td bgcolor="#F5F5F5"><strong>State</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Created Date</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Updated Date</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Settings</strong></td>

                </tr>
                {% for st_element in st_list%}
                <tr>
                    <td align="center">
                        {{st_element.id}}
                    </td>
                    <td align="left">
                        {{st_element.name}}
                    </td>
                    <td align="left">
                        {{st_element.state}}
                    </td>
                    <td align="left">
                        {{st_element.created_at}}
                    </td>

                     <td align="left">
                        {{st_element.updated_at}}
                    </td>


                    <td align="center">
                       <a href="/board/service/types/edit/{{st_element.id}}" class="btn btn-success">Details</a>
                    </td>

                </tr>
                {% endfor %}
            </table>
            <!-- History Sent st_list Pagination -->
            <div style="clear:both;"></div>
            <ul class="pagination">
                {% if st_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ st_list.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                {% if st_list.number|add:'-4' > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ st_list.number|add:'-5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% for i in st_list.paginator.page_range %}
                {% if st_list.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% elif i > st_list.number|add:'-5' and i < st_list.number|add:'5' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if st_list.paginator.num_pages > st_list.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ st_list.number|add:'5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% if st_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ st_list.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
                {% endif %}
                <!-- -->


            </ul>
            <!-- History Sent st_list Pagination -->
            {% else %}
            <center>
                <div class="alert alert-warning" role="alert">
  No st_list Registered, So far :(
</div>
            </center>
            {% endif %}

            <!-- -->

        </main>
    </div>
</div>

{% include "v3/dashboard/imports/js.html" %}


</body>
</html>
