<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png"
          href="/static/v3/media/website/logo-solo-cb7b48d8befc7c0b5d7f7bd44c8d69ffeed06130a5646ea7a09bb0b57a29b1ed.png"
          sizes="16x16">

    <title>Dashboard Renty</title>
    {% include "v3/dashboard/imports/css.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>


    <!-- Custom styles for this template -->

</head>

<body>
{% include "v3/dashboard/imports/header.html" %}

<div class="container-fluid">
    <div class="row">

        {% include "v3/dashboard/imports/menu.html" %}

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3 mt-4" role="main">

            <!-- -->
            <h3>Data Flow</h3>
            <p style="color:#999999;">
                Show all charges executed during the current year.</p>
            <hr>
            <!-- Chart Activity (today) -->
            <table width="605" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td width="605">
                        <strong>Last 12 Months</strong>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <canvas id="canvas" style="max-width:100%;  max-height:200px;"></canvas>
                        <center><span style="font-size:11px; font-weight:normal;"> <span
                                style="color:RGB(73, 190, 43);">Charges</span> <span
                                style="color:RGB(238, 77, 87);">Properties</span>
                        </center>


                    </td>
                </tr>


                </tbody>
            </table>

            <!-- Earnings -->

            <h3>Statistics</h3>
            <p style="color:#999999;">
                Count Data Insights</p>
            <hr>

            <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped">

                <tr>
                    <td width="50%"><strong>Region (Segmentation)</strong>
                    </td>
                    <td width="50%"><strong>Bank (Segmentation)</strong>
                    </td>
                </tr>

                <tr>
                    <td align="center">
                        <canvas id="region_segmentation" style="max-width:100%; max-height:200px;"></canvas>
                    </td>
                    <td align="center">
                        <canvas id="bank_segmentation" style="max-width:100%; max-height:200px;"></canvas>
                    </td>


                </tr>

                </tbody>


            </table>


            <table width="1281" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td width="25%"><strong>Charges</strong>
                    </td>
                    <td width="25%"><strong>Contracts</strong>
                    </td>


                </tr>

                <tr>
                    <td align="center">
                        {{ charges }} (Total)
                    </td>
                    <td align="center">
                        {{ contracts }} (Total)
                    </td>


                </tr>
                </tbody>
            </table>


            <!-- -->

        </main>
    </div>
</div>

{% include "v3/dashboard/imports/js.html" %}

<script>

/* {{ charges_graph }}*/


                    /* Clientes Por Transacciones */
                    var ctx5 = document.getElementById("canvas");

                    var myChart5 = new Chart(ctx5, {
                        type: 'bar',
                        data: {
                            labels: [{% for month in charges_graph %} '{{month.month_str}}', {% endfor %}],
                            datasets: [{
                                label: 'Month:',
                                data: [{% for month in charges_graph %} '{{month.count_items}}', {% endfor %}],
                                label: "CLP:",
                                fill: true,
                                lineTension: 0.1,
                                backgroundColor: "#B55423",
                                borderColor: "#B55423",
                                borderCapStyle: 'butt',
                                borderDash: [],
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "RGB(73, 190, 43)",
                                pointBackgroundColor: "#fff",
                                pointBorderWidth: 1,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "RGB(73, 190, 43)",
                                pointHoverBorderColor: "RGB(73, 190, 43)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 1,
                                pointHitRadius: 10,
                                borderWidth: 1
                            },
                            {
                                label: 'Hora:',
                                data: [0,0,0,0,],
                                label: "CLP:",
                                fill: true,
                                lineTension: 0.1,
                                backgroundColor: "#F7C145",
                                borderColor: "#F7C145",
                                borderCapStyle: 'butt',
                                borderDash: [],
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "RGB(73, 190, 43)",
                                pointBackgroundColor: "#fff",
                                pointBorderWidth: 1,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "RGB(73, 190, 43)",
                                pointHoverBorderColor: "RGB(73, 190, 43)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 1,
                                pointHitRadius: 10,
                                borderWidth: 1
                            }

                          ]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            legend: {
                              display: false
                            },
                            tooltips: {
                              callbacks: {
                                 label: function(tooltipItem) {
                                        return parseFloat(tooltipItem.yLabel)+" (CLP)";
                                 }
                              }
                            },
                            scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true,
                          callback: function(value) {if (value % 1 === 0) {return value;}}
                        }
                      }]
                    }

                        }
                    });

                    /* User segmentation by Bank */

     var ctx = document.getElementById("region_segmentation");

    data = {
        datasets: [{
            data: [{% for values in region_stat %} '{{ values.region__count }}', {% endfor %}],
            backgroundColor: [getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor()]
        }],
        labels: [{% for values in region_stat %} '{{ values.region__name }}', {% endfor %}]
    };

    var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: data,
    options: {
        responsive: false,
        maintainAspectRatio: false,
        legend: {
            display:false,
            position: 'bottom'
        },
    }
});


var ctx = document.getElementById("bank_segmentation");

    data = {
        datasets: [{
            data: [{% for values in bank_stat %} '{{ values.bank__count }}', {% endfor %}],
            backgroundColor: [getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor(),getRandomColor()]
        }],
        labels: [{% for values in bank_stat %} '{{ values.bank }}', {% endfor %}]
    };

    var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: data,
    options: {
        responsive: false,
        maintainAspectRatio: false,
        legend: {
            display:false,
            position: 'bottom'
        },
    }
});

function getRandomColor() {
  var myArray = ['#F7C145','#B55423','#CB4B1D','#e9ecef','#006F7D','#777289','#008989','#FF0059','#FF0059','#33BD6B'];
  var color = '#';
  color = myArray[Math.floor(Math.random() * myArray.length)];
  console.log(color);

  return color;
}




</script>

</body>
</html>
