/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.menu-header {
    margin-left: 17px !important;
    margin-top: 10px !important;
    color: #bbb8b8 !important;
    font-size: 11px !important;
}

.menu-profile {
    margin-left: 17px !important;
    margin-top: 10px !important;
    color: #212529 !important;
}


a {
    color: #bf5c1e !important;
}

.nav-link:hover {
    text-decoration: none !important;
    background-color: #eaeaea !important;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff !important;
    background-color: #CB4B1D !important;
    border-color: #CB4B1D !important;
}

.wrap {
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.bg-dark {
  background-color: #CB4B1D !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #CB4B1D !important;
}

.btn-success {
    color: #fff !important;
    background-color: #CB4B1D !important;
    border-color:#CB4B1D !important;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 3px rgba(203, 75, 29, 0.47);
}

.btn-danger {
    color:#FFF !important;
}

/*
<canvas id="bank_segmentation" style="max-width: 180px; max-height: 80px; height: 200px;"></canvas>
*/