
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/v3/media/website/logo-solo-cb7b48d8befc7c0b5d7f7bd44c8d69ffeed06130a5646ea7a09bb0b57a29b1ed.png" sizes="16x16">

    <title>Dashboard Renty</title>
    {% include "v3/dashboard/imports/css.html" %}
    <!-- Custom styles for this template -->

</head>

<body>
{% csrf_token %}
{% include "v3/dashboard/imports/header.html" %}

<div class="container-fluid">
    <div class="row">

        {% include "v3/dashboard/imports/menu.html" %}

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3 mt-4" role="main">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Account Book</li>
                <li class="breadcrumb-item active">Order Charges</li>
            </ol>


            <!-- Modems -->

            {% if charges %}
<!--
            <form method="post">
                <div class="form-row mb-3">
                    <div class="col-7">
                        <input type="text" class="form-control" id="id_search_form" name="search_form" placeholder="Order">
                    </div>
                    <button type="submit" class="btn btn-success">Go</button>
                </div>

            </form>
 -->
            <table class="table table-bordered">
                <tr>
                    <td bgcolor="#F5F5F5">#</td>
                    <td bgcolor="#F5F5F5"><strong>Charge</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Order</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Created Date</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Update Date</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Amount</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Settings</strong></td>

                </tr>
                {% for charge_element in charges %}
                <tr>
                    <td align="center">
                        {{charge_element.id}}
                    </td>
                    <td align="left">
                        {{charge_element.charge}}
                    </td>
                    <td align="left">
                        {{charge_element.order}}
                    </td>

                    <td align="left">
                        {{charge_element.created_at}}
                    </td>
                    <td align="center">
                       {{charge_element.updated_at}}
                    </td>
                    <td align="center">
                        {{charge_element.amount}}
                    </td>


                    <td align="center">
                       <a href="/board/orders/charges/edit/{{charge_element.id}}/" class="btn btn-success">Details</a>
                    </td>

                </tr>
                {% endfor %}
            </table>
            <!-- History Sent charges Pagination -->
            <div style="clear:both;"></div>
            <ul class="pagination">
                {% if charges.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ charges.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                {% if charges.number|add:'-4' > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ charges.number|add:'-5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% for i in charges.paginator.page_range %}
                {% if charges.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% elif i > charges.number|add:'-5' and i < charges.number|add:'5' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if charges.paginator.num_pages > charges.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ charges.number|add:'5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% if charges.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ charges.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
                {% endif %}
                <!-- -->


            </ul>
            <!-- History Sent charges Pagination -->
            {% else %}
            <center>
                <div class="alert alert-warning" role="alert">
  No order charges registered, so far :(
</div>
            </center>
            {% endif %}

            <!-- -->

        </main>
    </div>
</div>

{% include "v3/dashboard/imports/js.html" %}


</body>
</html>
