
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/v3/media/website/logo-solo-cb7b48d8befc7c0b5d7f7bd44c8d69ffeed06130a5646ea7a09bb0b57a29b1ed.png" sizes="16x16">

    <title>Dashboard Renty</title>
    {% include "v3/dashboard/imports/css.html" %}
    <!-- Custom styles for this template -->

</head>

<body>
{% csrf_token %}
{% include "v3/dashboard/imports/header.html" %}

<div class="container-fluid">
    <div class="row">

        {% include "v3/dashboard/imports/menu.html" %}

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3 mt-4" role="main">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Account Book</li>
                <li class="breadcrumb-item active">Orders</li>
            </ol>


            <!-- Modems -->

            {% if orders %}

            <!-- <form method="post">
                <div class="form-row mb-3">
                    <div class="col-7">
                        <input type="text" class="form-control" id="id_search_form" name="search_form" placeholder="Code, Provider">
                    </div>
                    <button type="submit" class="btn btn-success">Go</button>
                </div>
            -->

            </form>

            <table class="table table-bordered">
                <tr>
                    <td bgcolor="#F5F5F5">#</td>
                    <td bgcolor="#F5F5F5"><strong>Code</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Provider</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Created</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Amount</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Status</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Settings</strong></td>

                </tr>
                {% for order_element in orders%}
                <tr>
                    <td align="center">
                        {{order_element.id}}
                    </td>
                    <td align="left">
                        {{order_element.code}}
                    </td>
                    <td align="left">
                        {{order_element.provider}}
                    </td>

                    <td align="left">
                        {{order_element.created_at}}
                    </td>
                    <td align="center">
                       {{order_element.amount}}
                    </td>
                    <td align="center">
                        {{order_element.status}}
                    </td>


                    <td align="center">
                       <a href="/board/orders/edit/{{order_element.id}}/" class="btn btn-success">Details</button>
                    </td>

                </tr>
                {% endfor %}
            </table>
            <!-- History Sent orders Pagination -->
            <div style="clear:both;"></div>
            <ul class="pagination">
                {% if orders.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                {% if orders.number|add:'-4' > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.number|add:'-5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% for i in orders.paginator.page_range %}
                {% if orders.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% elif i > orders.number|add:'-5' and i < orders.number|add:'5' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if orders.paginator.num_pages > orders.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.number|add:'5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% if orders.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
                {% endif %}
                <!-- -->


            </ul>
            <!-- History Sent orders Pagination -->
            {% else %}
            <center>
                <div class="alert alert-warning" role="alert">
  No Orders Registered, So far :(
</div>
            </center>
            {% endif %}

            <!-- -->

        </main>
    </div>
</div>

{% include "v3/dashboard/imports/js.html" %}


</body>
</html>
