<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "v3/dashboard/imports/css.html" %}
    <style>
        body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
    </style>
</head>

<body>
{% include "v3/dashboard/imports/header.html" %}

<div class="container " style="margin-top: 50px;">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% for error in field.errors %}
            {{error}}<BR>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        {% if message == True %}
        <div class="alert alert-danger" role="alert"> Email o clave son incorrectos, intente nuevamente </div>
        {% endif %}
        <label for="id_email" class="sr-only">Email address</label>
        <input type="email" id="id_email" class="form-control" placeholder="Email address" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" class="form-control" placeholder="Password" required>
        <!-- <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->
        <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
    </form>

    {% include "v3/dashboard/imports/js.html" %}

</body>
</html>