<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png"
          href="/static/v3/media/website/logo-solo-cb7b48d8befc7c0b5d7f7bd44c8d69ffeed06130a5646ea7a09bb0b57a29b1ed.png"
          sizes="16x16">

    <title>Dashboard Renty</title>
    {% include "v3/dashboard/imports/css.html" %}
    <!-- Custom styles for this template -->

</head>

<body>
{% csrf_token %}
{% include "v3/dashboard/imports/header.html" %}

<div class="container-fluid">
    <div class="row">

        {% include "v3/dashboard/imports/menu.html" %}

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3 mt-4" role="main">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Account Book</li>
                <li class="breadcrumb-item active">Users</li>
            </ol>

            <div class="mb-3">
            <a href="/board/users/add/" class="btn btn-success">+ Add New</a>
            </div>


            <!-- Modems -->

            <form method="get">

                <div class="form-row mb-3">
                    <div class="col-7">
                        <input type="text" class="form-control" id="id_query" name="query" placeholder="Name, Email">
                    </div>
                    <button type="submit" class="btn btn-success">Go</button>
                </div>

                <!-- Query Failed No Rows -->
                {% if query %}
                <div class="alert alert-danger" role="alert"> No results match your query.</div>
                {% endif %}

            </form>

            {% if users %}


            <table class="table table-bordered">
                <tr>
                    <td bgcolor="#F5F5F5">#</td>
                    <td bgcolor="#F5F5F5"><strong>Names</strong></td>
                    <td bgcolor="#F5F5F5"><strong>email</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Created</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Updated</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Provider</strong></td>
                    <td bgcolor="#F5F5F5"><strong>Settings</strong></td>

                </tr>
                {% for user_element in users%}
                <tr id="row-{{user_element.id}}">
                    <td align="center">
                        {{user_element.id}}
                    </td>
                    <td align="left">
                        {{user_element.name}} {{user_element.last_name}}
                        {% if user_element.admin %}<BR>
                        <div class="badge badge-pill badge-success">Admin</div>
                        {% endif %}
                    </td>
                    <td align="left">
                        {{user_element.email}}
                    </td>
                    <td align="left">
                        {{user_element.created_at}}
                    </td>

                    <td align="left">
                        {{user_element.updated_at}}
                    </td>
                    <td align="center">
                        {{user_element.provider}}
                    </td>


                    <td align="center">
                        <a href="/board/users/edit/{{user_element.id}}/" class="btn btn-success">Edit</a>
                        <a href="{{user_element.id}}" id="delete" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            </table>
            <!-- History Sent users Pagination -->
            <div style="clear:both;"></div>
            <ul class="pagination">
                {% if users.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.previous_page_number }}{{url}}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                {% if users.number|add:'-4' > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.number|add:'-5' }}{{url}}">&hellip;</a>
                </li>
                {% endif %}

                {% for i in users.paginator.page_range %}
                {% if users.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}{{url}}">{{ i }}</a>
                </li>
                {% elif i > users.number|add:'-5' and i < users.number|add:'5' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}{{url}}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if users.paginator.num_pages > users.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.number|add:'5' }}{{url}}">&hellip;</a>
                </li>
                {% endif %}

                {% if users.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.next_page_number }}{{url}}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
                {% endif %}
                <!-- -->


            </ul>
            <!-- History Sent users Pagination -->
            {% else %}
            <center>
                <div class="alert alert-warning" role="alert">
                    No users Registered, So far :(
                </div>
            </center>
            {% endif %}

            <!-- -->

        </main>
    </div>
</div>

{% include "v3/dashboard/imports/js.html" %}

<script>

$(document).ready(function() {

  $('a#delete').click(function(e) {

    var anchor = this;
    $('#deleteModal').modal({
        backdrop: 'static',
        keyboard: false,
        show: true
    });

    $('#ajax_response').html('Are you sure you want to delete this user profile from database?');

    $('button#confirm').click(function(e) {

    $('#ajax_response').html('<div style="text-align:center;"><img src="/static/v3/media/website/loading.gif" width="10%"><BR> Deleting please wait...</div>');

      var id_user = $(anchor).attr('href') //$(this).attr('data-id');

      $.ajax({
        url: "/board/users/delete/" + id_user + '/',
        type: "GET",
        dataType: 'json',
        success: function(data, textStatus, jqXHR) {
          $('#ajax_response').html('');
          $('#ajax_response').html('<div class="alert alert-primary" role="alert">User has been deleted</div>');
          $('#deleteModal').modal('hide');
          $('#row-'+id_user).slideUp();
        },
        error: function(jqXHR, textStatus, errorThrown) {
          $('#ajax_response').html('');
          $('#ajax_response').html('<div class="alert alert-danger" role="alert">User could not be deleted, Please try again later.</div>');
        }
      });

    });
    return false;
  });

});



</script>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>-->
            </div>
            <div class="modal-body">
                <div id="ajax_response"></div>

            </div>
            <div class="modal-footer">
                <button type="button" id="confirm" class="btn btn-danger">Yes, Delete this</button>
                <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>


</body>
</html>
